<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Tarea8_App</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-4">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        <li class="nav-item px-2">
            <NavLink class="nav-link" href="/RegistrarVacunado">
                <span class="oi oi-person" aria-hidden="true"></span> Registrar Vacuna
            </NavLink>
        </li>

        <li class="nav-item px-2">
            <NavLink class="nav-link" href="/ConsultaVacunados">
                <span class="oi oi-list" aria-hidden="true"></span> Consulta de Vacunados
            </NavLink>
        </li>

        <li class="nav-item px-2">
            <NavLink class="nav-link" href="/VacunadosProvincia">
                <span class="oi oi-map" aria-hidden="true"></span> Vacunados por Provincia
            </NavLink>
        </li>

        <li class="nav-item px-2">
            <NavLink class="nav-link" href="/Mapa">
                <span class="oi oi-map" aria-hidden="true"></span> Mapa
            </NavLink>
        </li>

        <li class="nav-item px-2">
            <NavLink class="nav-link" href="/VacunadosMarca">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Vacunados por Marca
            </NavLink>
        </li>

        <li class="nav-item px-2">
            <NavLink class="nav-link" href="/VacunadosZodiacal">
                <span class="oi oi-star" aria-hidden="true"></span> Vacunados por Zodiacal
            </NavLink>
        </li>

        <li class="nav-item px-2">
            <NavLink class="nav-link" href="/AnularVacunacion">
                <span class="oi oi-trash" aria-hidden="true"></span> Anular Vacunacion
            </NavLink>
        </li>

        <li class="nav-item px-2">
            <NavLink class="nav-link" href="/Configuracion">
                <span class="oi oi-box" aria-hidden="true"></span> Configuracion
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
