@page "/"

<h1>Tarea 7</h1>

<div>
    <p>Realiza una aplicacion para registrar datos de las personas que se vacunan. <br>
    La aplicacion tendra el siguiente menu:</p>
    
    <ul>
        <li> <strong>Registrar Vacuna:</strong> Para registrar una persona que se vacuna deben digitar la cedula de <br> la persona y verificarla en el padron para si la misma se encuentra llenar los campos<br> correspondinete, si no esta los mismos apareceran en blanco. Para registrar una persona <br> se llenaran los campos: nombre, apellido, telefono fecha de nacimiento, vacuna recibida<br> (de un select), provincia (de un select) y la fecha en la cual se registra esta primera dosis. <br> Si al momento de registrar una vacuna la persona ya se le ha registrado una vacuna, entonces <br> solo apareceran los datos anteriores a modo consulta, se visualizara cuando fue la primera<br> dosis y luego se colocara la fecha de esta segunda que se esta apicando.</li>

        <li> <strong>Consulta de Vacunados: </strong> Se podra bsucar entre los vacunados por nombre o apellido, <br> para saber si han recibido  un o las dos dosis. </li>

        <li> <strong> Listado de vacunados por provincia: </strong> Se podra elegir una provincia de las agregadas y <br> de despagran un listado con las personas que se han vacunado de esta provicia: cedula, nombre, <br> apellido, telefono, fecha 1ra vacuna, fecha 2da vacuna.</li>

        <li> <strong>Listado de vacunados por signo zodiacal:</strong> Aparecera un listado con todas las vacunas registradas y <br> cuantas personas se han vacunado de la misma. Agregarle algun grafico interesante.</li>

        <li> <strong>Anular registro de vacunacion:</strong> Vamos a digitar una cedula de un vacunado... y vamos a poder <br> eliminar el registro de que se vacuno. Esto es por si lo agregaron por error.</li>

        <li> <strong>Configuracion: </strong> Aqui podremos registrar agregando las vacunas que tengamos en existencia. <br> Colocando la marca y la cantidad. El sistema debe llevar un inventario y no permitir registrar<br> vacunados si no existen vacunas en almacen.  Se podran registrar las provicias que aparecen en <br>nuestro sistema al momento de elegir. O cambiar el nombre de una provicia si fuera necesario. </li>
    </ul>
</div>

