@page "/"

<h1>Tarea 8</h1>

<p>
    Modifique su tarea 7. vamos a agregarle que al momento de registrar una persona vamos a indicar la latitud y longitud de donde se hace esa vacunacion. A la tarea 7,
    agreguele una opcion para mirar en modo mapa, donde aqui aparecera un marcador por cada persona que se ha registrado en nuestro sistema.
</p>

 <p>
     Al hacer click en un marcador, vamos a visualizar los datos de la persona, asi como que vacuna recibio y cuantas dosis de la misma se ha puesto.
</p>


