@page "/Mapa"
@using Tarea8_App.Models;
@using Microsoft.EntityFrameworkCore;

<h1>Mapa de Vacunados</h1>
<div class="row">
    <div class="col-xl-6">
        
        <RadzenGoogleMap style="height: 400px" Zoom=@zoom Center=@(new GoogleMapPosition() { Lat = 18.492602, Lng = -69.8551282 }) MapClick=@OnMapClick MarkerClick=@OnMarkerClick>
            <Markers>
                @foreach (var v in GetVacunados())
                {
                    info = ($"Paciente: {v.Nombre} {v.Apellido} - Cedula: {v.Cedula} - Marca Vacuna: {v.MarcaVacuna} - Dosis 1: {v.FechaPdosis} - Dosis 2: {v.FechaSdosis}");
                    <RadzenGoogleMapMarker Title="@info" Label="@v.Apellido" Position=@(new GoogleMapPosition() { Lat = Double.Parse(v.Lalitud), Lng = Double.Parse(v.Longitud) }) />
                }
                
            </Markers>
        </RadzenGoogleMap>
    </div>

</div><br />

<div>
    <h2>@txt</h2>
</div>

@code {
    int zoom = 8;
    string txt;
    string info;
    List<Vacunados> GetVacunados() => new Tarea8Context().Vacunados.ToList();


    void OnMapClick(GoogleMapClickEventArgs args)
    {
        txt = ($"Map clicked at Lat: {args.Position.Lat}, Lng: {args.Position.Lng}");
    }

    void OnMarkerClick(RadzenGoogleMapMarker marker)
    {
        txt = ($"{marker.Title}");
    }
}