@page "/VacunadosMarca"
@using Tarea8_App.Models;
@using Microsoft.EntityFrameworkCore;
<h2>Listado de vacunados por marca de vacuna</h2>

@foreach (var v in GetVacunados())
{
    switch (v.MarcaVacuna)
    {
        case "Pfizer":
            pfizer += 1;
            break;
        case "Johnson & Johnson":
            jj += 1;
            break;
        case "Moderna":
            moderna += 1;
            break;
    }
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Marca de vacuna</th>
            <th>Personas vacunadas</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <th>Pfizer</th>
            <th>@pfizer</th>
        </tr>
        <tr>
            <th>Moderna</th>
            <th>@moderna</th>
        </tr>
        <tr>
            <th>Johnson & Johnson</th>
            <th>@jj</th>
        </tr>

    </tbody>
    
</table>

@code{
    List<Vacunados> GetVacunados() => new Tarea8Context().Vacunados.ToList();

    int moderna = 0, pfizer = 0, jj = 0;

} 